<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Michigan Public Schools</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag '../javascripts/jquery-ui-1.8.2/css/redmond/jquery-ui-1.8.2.custom.css' %>
	<%= stylesheet_link_tag 'style' %>
	
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
	<%= javascript_include_tag 'jquery-ui-1.8.2/js/jquery-ui-1.8.2.custom.min.js' %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<%= javascript_include_tag 'application' %>
	<script type="text/javascript">
		$(function() {
			$("input:submit").button();
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="logo">
				<div id="hdr_img"><%= link_to (image_tag 'school-hdr.jpg'), '/' %></div>
				<div id="hdr_txt">Michigan Public Schools</div>
			</div>
			<div id="top_nav">
				<ul>
					<li><%= link_to 'Schools', '/schools' %></li>
					<li><%= link_to 'Districts', '/school_districts' %></li>
					<li><%= link_to 'Counties', '/counties' %></li>
				</ul>
			</div>
			<div id="search">
				<form>
					<input class="search_field" name="search_field" id="search_field" type="text" />
					<input value="Find" type="submit">
				</form>
			</div>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<div id="copyright">
				Copyright 2010 <%= link_to 'Timothy Fisher', 'http://www.timothyfisher.com' %>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-3428872-22']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>

</html>